<div>Current Player: {{currentPlayer}}</div>

<div class="GameBoard">
  {{#each board key="@index" as |col c|}}
    <div class="GameColumn">
      {{#each col key="@index" as |cell r|}}
        <GameCell
          @color={{cell.color}}
          @c={{c}}
          @r={{r}}
          @onClick={{action "onClick"}}
        />
      {{/each}}
    </div>
  {{/each}}
</div>