<PlayerStatus
  @player1={{player1}}
  @player2={{player2}}
  @currentPlayer={{currentPlayer}}
/>

<hr>

<div class="GameBoardContainer">
  <div class="GameBoard">
    {{#each board key="@index" as |column colIdx|}}
      <div class="GameColumn">
        {{#each column key="@index" as |cell|}}
          <GameCell
            @color={{cell.color}}
            @colIdx={{colIdx}}
            @onClick={{action "onClick"}}
          />
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>